.filme-info{
    
    height: calc(100vh - 60px);
    margin-top: 20px;
    margin: 0 auto;
    display: flex;
   justify-content: center;
    flex-direction: column;
    max-width: 800px;
    padding: 0 8px;
}

.filme-info h1{
    margin: 14px 0;
}

.filme-info img{
    border-radius: 8px;
    width: 800px;
    max-width: 100%;
    max-height: 340px;
    object-fit: cover;

}

.filme-info h3{
    margin-top: 14px;
}

.filme-info span{
    margin: 8px 0;
}

.area-buttons button{
    margin-right: 12px;
    margin-top: 14px;
    margin-left: 0;
    font-size: 18px;
    border: 0;
    outline: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.5s;
}

.area-buttons button:hover{
    background-color: brown;
    color: #fff;
}

.area-buttons a{
    text-decoration: none;
    color: #000;
    transition: all 0.5s;
}

.area-buttons a:hover{
    color: #fff;
}

.loading{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 60px);

}