.lista-filmes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);  
    max-width: 1400px;
    margin: 120px auto;
    
}

.lista-filmes article{

    width: 100%;
    background-color: #fff;
    padding: 15px;
    border-radius: 4px;
    margin-bottom: 30px;
    
    
}

.lista-filmes strong{
    margin-bottom: 14px;
    text-align: center;
    font-size: 22px;
    display: block;
    height: 40px;
   
}

.lista-filmes img{
    width: 900px;
    max-width: 100%;
    max-height: 570px;
    object-fit:cover;
    display: block;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    
}

.lista-filmes a{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    background-color: #116feb;
    text-decoration: none;
    color: #fff;
    padding: 16px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.loading{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 60px);

}


@media (max-width: 970px){
    .lista-filmes{
    display: grid;
    grid-template-columns: repeat(2, 1fr);  
    max-width: 1400px;
    margin: 70px auto;
}
}

@media (max-width: 768px){
     .lista-filmes{
    display: grid;
    grid-template-columns: repeat(1, 1fr);  
    max-width: 1400px;
    margin: 100px auto;
}
}
