header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 60px;
    background-color: #000000;
    position: fixed;
    top: 0;
    left: 0;
}

.logo{
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;

}

.favoritos{
    text-decoration: none;
    background-color: #fff;
    color: #000000;
    cursor: pointer;
    padding: 5px 14px;
    border-radius: 4px;
}